<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="/" class="<%= path === '/' ? 'active' : '' %> link">Shop</a></li>
      <li class="nav__item"><a href="/products" class="<%= path === '/products' ? 'active' : '' %> link">Products</a>
      </li>
      <li class="nav__item"><a href="/cart" class="<%= path === '/cart' ? 'active' : '' %> link">Cart</a></li>
      <li class="nav__item"><a href="/admin/add-product"
          class="<%= path === '/admin/add-product' ? 'active' : '' %> link">Add Product</a></li>
      <li class="nav__item"><a href="/admin/products"
          class="<%= path === '/admin/products' ? 'active' : '' %> link">Admin Products</a></li>
    </ul>
  </nav>
</header>